<% if signed_in? %>
	<p>Signed in as <strong><%= current_user.name %></strong></p>
	<%= link_to "Sign Out", signout_path, method: :delete %>
<% else %>
	<%= link_to "Sign In", signin_path %>
<% end %>